<%- include('../partials/header') %>

<div class="container">
    <div class="className">
        <h1><%= email %></h1>
        <p class="display-3">Welcome to the App <%= firstname + ' ' + lastname %></p>

        <a href="<%= buttonLink %>">
            <button>Activate Account</button>
        </a>
    </div>
</div>

<%- include('../partials/footer') %>